.tr {
    height: 56px;
    background: #FFFFFF 55%;
    border-bottom: 4px solid #ebe8e9;

    font-family: Helvetica Neue, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;

    letter-spacing: -0.35px;

    color: #383838;
}
.profilePicture {
    height: 32px;
    width: 32px;
    border-radius: 200px;
    vertical-align: middle;
    margin-right: 16px;
}
.tr td {
    padding: 0 16px;
}
.tr td:nth-last-child(2) {
    width: 30%;
}
.tr td.high:first-child {
    box-sizing: border-box;
    border-right: 4px solid #ebe8e9;
    border-left: 4px solid #ED6B3E;
}
.tr td.medium:first-child {
    box-sizing: border-box;
    border-right: 4px solid #ebe8e9;
    border-left: 4px solid #FBA63C;
}
.tr td.low:first-child {
    box-sizing: border-box;
    border-right: 4px solid #ebe8e9;
    border-left: 4px solid #5DC983;
}
.socialDiv {
    display: inline-block;
    padding-left: 40px;
}
div.rowBtn {
    padding: 0;
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
    background: #E7E6E8;
    min-width: 28px;
}
.rowBtn:hover .tooltipDiv {
    visibility: visible;
}
.tooltipDiv {
    position: absolute;
    left: -142px;
    top: 4px;
    visibility: hidden;
}