.container {
    max-height: 70px;
    max-width: fit-content;
    background-color: #FFBABA;
    color: #D8000C;
    padding: 15px;
    border-radius: 7px;

    display: flex;
    align-items: center;

    position: absolute;
    top: 15px;
    left: 50px;
}
.icon {
    filter: invert(32%) sepia(98%) saturate(4441%) hue-rotate(341deg) brightness(75%) contrast(138%);
    height: 30px;
    margin-left: 10px;
}
.label {
    font-family: Helvetica Neue, sans-serif;
    font-style: normal;
    font-weight: normal;
    margin-left: 15px;
}