.mainContainer {
    margin-left: 40px;

    background: #ebe8e9;
    height: 100%;
}
.generalInfo {
    margin-top: 40px;
    margin-left: 40px;
    display: flex;
    align-items: center;
}
.personalInfo {
    margin-left: 24px;
}
.label {
    font-family: Helvetica Neue, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: -0.35px;

    color: rgba(0, 0, 0, 0.6);

    mix-blend-mode: hard-light;
    opacity: 0.76;

    margin-bottom: 4px;
}
.p {
    font-family: Helvetica Neue, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: -0.35px;
    margin-top: 0;

    color: #383838;
}
.textContainer {
    height: 30px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}
.socialMediaContainer {
    margin-top: 24px;

    display: flex;
    flex-direction: row;
}