.Search {
    position: relative;
    max-width: 296px;
}
.Search input {
    content: "";
    padding-left: 28px;
    background-image: url('../../Elements/Icons/search.svg');
    background-repeat: no-repeat;
    background-position: 3%;
}
.Search label {
    margin: 0;
}