.container {
    height: fit-content;
    position: relative;
    top: 52px;
    right: 68px;
}
.input {
    display: none;
}
.label {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 106px;
    height: 33px;

    background: url("../Icons/arrowdown.svg") 12.67px no-repeat, linear-gradient(180deg, #FF650E 0%, #FF650E 100%);
    border-radius: 8px;
    border-style: none;
    padding: 0 0 0 16px;

    font-family: Helvetica Neue, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;

    cursor: pointer;
}
.input:checked + .label {
    background: url("../Icons/arrowup.svg") 12.67px no-repeat, linear-gradient(180deg, #FF650E 0%, #FF650E 100%);
    outline: none;
}
.input:checked + .label + .dropdown {
    transform: scale(1);
    z-index: 999;
}
.dropdown {
    display: grid;
    grid-auto-rows: 1fr;

    width: 119px;
    height: 96px;
    margin: 5px 0 0 2px;
    padding: 0;

    border: #c9c8ca solid 1px;
    border-radius: 4px;
    background-color: #ffffff;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.15));

    transform: scale(0);
}
.link {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    padding-left: 12px;

    text-decoration: none;
    color: #636363;
}
.link:hover {
    background-color: #EEEEEE;
}