.table {
    border-collapse: collapse;
    margin: 0 68px 0 28px;
    height: min-content;
    text-align: left;
    overflow-y: auto;
}
.th {
    padding-left: 16px;
}
th{
    top: 72px;;
    height: 56px;
    background: #FAF9FB;
    box-shadow: inset 0px -4px 0px #E5E5E5;
}
.span {
    font-family: Helvetica Neue, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.35px;

    color: rgba(0, 0, 0, 0.6);

    mix-blend-mode: hard-light;
    opacity: 0.76;
}