.UserList {
    display: grid;
    grid-auto-flow: row;
    text-align: left;
}
.table {
    border-collapse: collapse;
}
.header {
    height: 56px;
    background: #FAF9FB;
    box-shadow: inset 0px -4px 0px #E5E5E5;
}
.header .th {
    padding: 0 0 0 16px;
}
.header th {
    padding: 0;
}
.th {
    padding-left: 16px;
}
.span {
    font-family: Helvetica Neue, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.35px;

    color: rgba(0, 0, 0, 0.6);

    mix-blend-mode: hard-light;
    opacity: 0.76;
}