.container {
    display: flex;
    flex-direction: column;
    height: fit-content;
}
.profilePicture {
    margin-bottom: 24px;
    height: 64px;
    width: 64px;

    cursor: pointer;
}
.profileLabel {
    font-family: Helvetica Neue, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.35px;

    color: rgba(0, 0, 0, 0.6);

    mix-blend-mode: hard-light;
    opacity: 0.76;
    margin-bottom: 12px;
}
