.div {
    display: flex;
    flex-direction: column;
}
.select {
    background: #FAFAFB;
    border: 1px solid #DA1414;
    box-sizing: border-box;
    border-radius: 6px;
    width: 344px;
    height: 32px;
}
.select1 {
    border: 1px solid #BFBFBF;
    background: #FAFAFB;
    box-sizing: border-box;
    border-radius: 6px;
    width: 344px;
    height: 32px;
}
.option {
    width: 46px;
    height: 17px;
    left: 12px;
    top: 7px;

    font-family: Helvetica Neue, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.35px;

    color: #383838;
}
.selected {
    color: rgba(56, 56, 56, 0.45);
}
.notRequiredSelect {
    background: #FAFAFB;
    border: 1px solid #BFBFBF;
    box-sizing: border-box;
    border-radius: 6px;
    width: 344px;
    height: 32px;
}