.mainContainer {
    margin-left: 40px;
}
.h4 {
    margin-bottom: 24px;
}
.body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    margin-top: 47px;
}
.leftContainer {
    margin-left: 180px;
}
.rightContainer {
    display: flex;
    flex-direction: column;
    width: 408px;

    margin-right: 180px;
}
.socialProfilesContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.networkContainer {
    display: flex;
    flex-direction: column;
}
.networkContainer input {
    width: 184px;
}
.followersContainer input {
    width: 184px;
}


