.table {
    /*display: inline-table;*/
    white-space: nowrap;
    border-collapse: collapse;
    margin: 0 68px 0 28px;
    height: min-content;
    width: 95%;
    text-align: left;
    overflow-y: auto;
}
th {
    box-sizing: border-box;
    max-width: 300px;
    height: 56px;
    background: #FAF9FB;
    box-shadow: inset 0px -4px 0px #E5E5E5;
    padding-left: 16px;
}
.span {
    font-family: Helvetica Neue, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.35px;

    color: rgba(0, 0, 0, 0.6);

    mix-blend-mode: hard-light;
    opacity: 0.76;
}
th:nth-last-child(2) {
    width: 40%;
}
th:last-child {
    padding: 0;
    width: 28px;
}