.mainContainer {
    margin-left: 40px;
}
.h4 {
    margin-bottom: 24px;
}
.info {
    width: 16px;
    height: 16px;

    margin-left: 10px;
    margin-bottom: 2px;
    cursor: pointer;
}
.body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    margin-top: 47px;
}
.leftContainer {
    width: 408px;
    margin-left: 180px;
}
.rightContainer {
    display: flex;
    flex-direction: column;

    margin-right: 180px;
    width: 408px;
}
.rolesInfo {
    position: relative;
    display: flex;
    flex-direction: row;

    align-items: center;
}
.tooltipHider {
    width: 372px;
    height: 244px;
    visibility: hidden;
    position: absolute;
    top: 52px;
    right: 50px;
    z-index: 999;
}
.info:hover + .tooltipHider {
    visibility: visible;
}
