.Search {
    /*margin-top: 24px;*/
    position: sticky;
    top: 0;;
    padding: 24px 68px 0 28px;
    background-color: #ebe8e9;
}
.Search input {
    content: "";
    padding-left: 28px;
    background-image: url("../../Elements/Icons/search.svg");
    background-repeat: no-repeat;
    background-position: 3%;
}
.Search label {
    margin: 0;
}