.Search {
    position: relative;
    top: 0;;
    padding: 24px 68px 0 28px;
    z-index: 0;
}
.Search input {
    content: "";
    padding-left: 28px;
    background-image: url("../../Elements/Icons/search.svg");
    background-repeat: no-repeat;
    background-position: 3%;
}
.Search label {
    margin: 0;
}