.loginForm {
    position: absolute;
    width: 408px;
    height: 312px;
    left: 516px;
    top: 280px;

    background: rgba(255, 255, 255, 0.55);
    border: 1px solid rgba(191, 191, 191, 0.5);
    box-sizing: border-box;
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    width: 189px;
    height: 22px;
    margin-top: 23px;
    margin-bottom: 24px;


    font-family: Helvetica Neue, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;

    color: #151515;

    opacity: 0.9;
}

button {
    width: 344px;
    height: 33px;
    margin-top: 8px;

    background: linear-gradient(180deg, #FF650E 0%, #FF650E 100%);
    border-radius: 8px;

    font-family: Helvetica Neue, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;

    border-style: none;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 0px 32px;
}

