.div {
    display: flex;
    flex-direction: column;
    input {
        background: #FAFAFB;
        border: 1px solid #BFBFBF;
        box-sizing: border-box;
        border-radius: 6px;
        width: 344px;
        height: 32px;

        margin-bottom: 16px;
    }
    .react-datepicker__tab-loop {
        background-color: red;
        .react-datepicker-popper {
            background-color: red;

            .react-datepicker {
                background-color: red;

                width: 344px;
                .react-datepicker__month-container {
                    width: 1000px;
                    .react-datepicker__header {
                        width: 1000px;
                    }
                }
            }
        }
    }
}
.calendar {
    width: 344px;
}